# Build
build/
out/
cmake-build-*/

# IDE
.vs/
.vscode/
.idea/
*.VC.db
*.VC.VC.opendb

# OS
.DS_Store
Thumbs.db

# Generated plugin artifacts
*.vst3/
*.component/
*.aaxplugin/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
